<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-users"></i>
      </div>
      <div class="title">Congreso</div>
      <div class="comment">Información del congreso</div>
    </rd-widget-body>
    <form class="form-horizontal" ng-submit="addCongress(congressForm)" name="congressForm" novalidate>

      <ui-input u-name="Nombre" ng-model="congress.nombre"></ui-input>

      <ui-input
        u-name="Fecha"
        u-error="Por favor llenar con un año valido."
        u-type="number"
        u-desc="Año del congreso"
        u-min="2000" u-max="2100"
        ng-model="congress.fecha_congreso">
      </ui-input>

      <ui-input u-name="Ponencia" ng-model="congress.ponencia"></ui-input>

      <ui-input u-name="Lugar" ng-model="congress.lugar"></ui-input>

      <div class="form-group">
        <label for="inputParticipantes" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Autores</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <select
            id="inputParticipantes"
            name="inputParticipantes"
            class="chosen form-control"
            chosen
            multiple
            data-error="Este campo es requerido."
            ng-required="true"
            data-placeholder="Elige los autores."
            ng-model="congress.participantes"
            ng-options="participant.id as (participant.nombre + ' ' + participant.apellido) for participant in participants">
          </select>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group">
          <label for="inputPatrocinio" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Patrocinio</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <select
            class="form-control"
            chosen
            ng-required="true"
            name="inputPatrocinio"
            data-error="Este campo es requerido."
            id="inputPatrocinio"
            data-placeholder="Elige un patrocinador."
            ng-model="congress.patrocinio"
            ng-options="sponsor.id as sponsor.nombre for sponsor in sponsors">
          </select>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <ui-submit></ui-submit>
    </form>
  </rd-widget>
</div>
