<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Revistas"></rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="journal in journals">
              <td>{{journal.id}}</td>
              <td>{{journal.description}}</td>
              <td>
                <a class="btn btn-sm btn-success" href="#/revistas/{{journal.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="deleteJournal(journal.id,$index)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!journals.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/revistas/crear"><i class="fa fa-plus"></i></a>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
