<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-info"></i>
      </div>
      <div class="title">Acerca</div>
      <div class="comment">Información de los desarrolladores</div>
    </rd-widget-body>
    <div class="container">
      <h4><i class="fa fa-list-alt">   </i>    Descripción del proyecto</h4>
      <br/>
      <p>Consiste en una base de datos iterativa para manejar los proyectos que se realizan en el Decanato de Investigación de UNIBE. (publicación, proyectos, congresos), la cual implementa un Web service que se encarga gestionar las diferentes entidades ya mencionadas.
      </p>
      <br/>

      <h4><i class="fa fa-users">   </i>    Equipo de Desarrollo</h4>
      <br/>

      <p>El sistema fue desarrollado por estudiantes de Ingeniería en Tecnologías de la Información y Comunicación (TIC) de la Universidad Iberoamericana. Dichos estudiantes son:</p>
      <ul>
        <li>Luis Adrian Martinez     <a target="_blank" href="http://www.github.com/luisadrianml"><i class="fa fa-github"> </i> Github</a></li>
        <li>Ramfis Misael Sánchez     <a target="_blank" href="http://www.github.com/ranfis"><i class="fa fa-github"> </i> Github</a></li>
        <li>Fernando Manuel Pérez     <a target="_blank" href="http://www.github.com/fernando0330"><i class="fa fa-github"> </i> Github</a></li>
        <li>Atahualpa Peña Pérez     <a target="_blank" href="http://www.github.com/atahual[apena"><i class="fa fa-github"> </i> Github</a></li>
      </ul>
       <p>
         El proyecto se encontró bajo la supervisión del <strong>Profesor Ing. Willis Polanco</strong>, dentro de la asignatura de "Validación y Verificación" del Cuatrimestre 2016-1 que se cursó entre Septiembre y Diciembre del año 2015 para la Universidad Iberoamericana (UNIBE).
       </p>

      <br/>

    </div>

  </rd-widget>
</div>
