<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="title">Publicación</div>
      <div class="comment">Información de la publicación</div>
    </rd-widget-body>
    <form class="form-horizontal" ng-submit="save(uForm)" name="uForm" novalidate>

      <ui-input u-name="Publicacion" u-desc="Publicación" ng-model="publication.description"></ui-input>

      <ui-input
        u-name="Fecha"
        u-error="Por favor llenar con un año valido."
        u-type="number"
        u-desc="Año de la publicación"
        u-min="2000" u-max="2100"
        ng-model="publication.date">
      </ui-input>

      <ui-input u-name="Volumen" ng-model="publication.volume"></ui-input>

      <ui-input u-name="Pagina" u-desc="Página" ng-model="publication.pages"></ui-input>

      <div class="form-group">
        <label for="inputDerechos" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Cesión de Derechos</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <toggle id="inputDerechos" name="inputDerechos" ng-model="publication.has_intellectual_prop" on="Cedidos" off="No cedidos" onstyle="btn-success" offstyle="btn-primary"></toggle>
        </div>
      </div>

      <div class="form-group">
      <label for="inputParticipantes" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Autores</label>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <select
          id="inputParticipantes"
          name="inputParticipantes"
          class="form-control"
          chosen
          multiple
          data-error="Este campo es requerido."
          ng-required="true"
          data-placeholder="Elige los autores"
          ng-model="publication.participantes"
          ng-options="participant.id as (participant.nombre + ' ' + participant.apellido) for participant in participants">
        </select>
        <div class="help-block with-errors"></div>
      </div>
</div>

      <div class="form-group">
        <label for="inputRevista" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Revista</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <select
            class="form-control"
            chosen
            ng-required="true"
            data-error="Este campo es requerido."
            name="inputRevista"
            id="inputRevista"
            data-placeholder="Elige una revista"
            ng-model="publication.journal"
            ng-options="journal.id as journal.description for journal in journals">
            <option><option>
          </select>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="btn-group col-xs-offset-5 col-md-offset-5 col-sm-offset-5 col-lg-offset-5" role="group">
          <button type="button" onclick="window.history.back()" class="btn btn-default">Cancelar</button>
          <button
            type="submit"
            ng-disabled="!publication.journal || !publication.participantes"
            class="btn btn-success">Guardar
          </button>
        </div>
      </div>
    </form>
  </rd-widget>
</div>
