<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-9 col-sm-9 col-md-9 col-lg-9">
	<rd-widget>
		<rd-widget-body>
			<div class="widget-icon green pull-left">
				<i class="fa fa-user"></i>
			</div>
			<div class="title">Iniciar Sesión</div>
			<div class="comment">Sistema DIA</div>
		</rd-widget-body>

		<form class="form-horizontal" ng-submit="authenticate(loginForm)" name="loginForm" novalidate>
		  <div class="form-group">
		    <label for="uEmail" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Email</label>
		    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		      <input type="email" class="form-control" id="uEmail" name="uEmail" placeholder="Email" ng-model="credentials.email" ng-required="true">
          <div ng-show="loginForm.$submitted || loginForm.uEmail.$touched">
            <span class="msg-error" ng-show="loginForm.uEmail.$error.required">El correo es requerido.</span>
            <span class="msg-error" ng-show="loginForm.uEmail.$error.email">Este correo no es valido.</span>
          </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="uPassword" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Clave</label>
		    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		      <input type="password" class="form-control" id="uPassword" name="uPassword" placeholder="Clave" ng-model="credentials.pass" ng-required="true">
          <div ng-show="loginForm.$submitted || loginForm.uPassword.$touched">
            <span class="msg-error" ng-show="loginForm.uPassword.$error.required">La contrase&ntilde;a es requerida.</span>
          </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-offset-5 col-md-offset-5 col-sm-offset-5 col-lg-offset-5 col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input type="submit" class="btn btn-success" value="Ingresar">
		    </div>
		  </div>
		</form>
	</rd-widget>
</div>
