<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-folder-open"></i>
        </div>
        <div class="title">{{dashboard.projects_total || 0}}</div>
        <div class="comment">Proyectos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">{{dashboard.congress || 0}}</div>
        <div class="comment">Congresos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="title">{{dashboard.publications || 0}}</div>
        <div class="comment">Publicaciones</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-male"></i>
        </div>
        <div class="title">{{dashboard.participants || 0}}</div>
        <div class="comment">Investigadores</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-folder-open" title="Resumen de Proyectos">
        <a href="#/proyectos">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr><td>Proyectos Aprobados</td><td>{{dashboard.projects_accepted || 0}}</td><td><span class="text-success"><i class="fa fa-check text-center"></i></span></td></tr>
            <tr><td>Proyectos en Proceso</td><td>{{dashboard.projects_review || 0}}</td><td><span class="text-warning"><i class="fa fa-warning"></i></span></td></tr>
            <tr><td>Proyectos Rechazado</td><td>{{dashboard.projects_denied || 0}}</td><td><span class="text-success"><span class="text-danger"><i class="fa fa-times"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Últimos Congresos">
        <!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
        <a href="#/congresos">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Ponencia</th>
              <th>Lugar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="congress in dashboard.last_congress">
              <td class="text-left">{{congress.nombre}}</td>
              <td>{{congress.ponencia}}</td>
              <td>{{congress.lugar}}</td>
            </tr>

            </tbody>
          </table>
          <div ng-if="!dashboard.last_congress.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-newspaper-o" title="Últimas de Publicaciones">
        <a href="#/publicaciones">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Revista</th>
              <th>Derechos</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="publication in dashboard.last_publications">
              <td class="text-left">{{publication.description}}</td>
              <td>{{publication.journal.description}}</td>
              <td>{{publication.has_intellectual_prop | sino}}</td>
            </tr>

            </tbody>
          </table>
          <div ng-if="!dashboard.last_publications.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <!--<div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
        <a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
      </rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>-->
</div>
