<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-folder-open"></i>
        </div>
        <div class="title">80</div>
        <div class="comment">Proyectos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">16</div>
        <div class="comment">Congresos</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="title">225</div>
        <div class="comment">Publicaciones</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-male"></i>
        </div>
        <div class="title">62</div>
        <div class="comment">Investigadores</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-folder-open" title="Resumen de Proyectos">
        <a href="#/proyectos">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr><td>Proyectos Aprobado</td><td>10</td><td><span class="text-success"><i class="fa fa-check text-center"></i></span></td></tr>
            <tr><td>Proyectos en Proceso</td><td>5</td><td><span class="text-warning"><i class="fa fa-warning"></i></span></td></tr>
            <tr><td>Proyectos Rechazado</td><td>21</td><td><span class="text-success"><span class="text-danger"><i class="fa fa-times"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Últimos Congresos">
        <!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
        <a href="#/congresos">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr><td class="text-left">Ponencia 1 con nombre</td><td>Congreso 1 con nombre largo</td></tr>
            <tr><td class="text-left">Ponencia 2</td><td>Congreso 2</td></tr>
            <tr><td class="text-left">Ponencia 3</td><td>Congreso 3</td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-newspaper-o" title="Últimas de Publicaciones">
        <a href="#/publicaciones">Gestionar</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr><td class="text-left">Nombre de Publicacion</td><td>Revista numero 1</td></tr>
            <tr><td class="text-left">Nombre de Publicacion 2</td><td>Revista publicacion</td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <!--<div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
        <a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
      </rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>-->
</div>
