<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-eye"></i>
      </div>
      <div class="title">Unidades</div>
      <div class="comment">Información de unidades</div>
    </rd-widget-body>
    <form class="form-horizontal" ng-submit="save(uForm)" name="uForm" novalidate>
      <ui-input u-name="Nombre" ng-model="unit.name"></ui-input>
      <ui-submit></ui-submit>
    </form>
  </rd-widget>
</div>
