<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-eye" title="Unidades">
        <input type="text" placeholder="Buscar" class="form-control input-sm" ng-model="$root.searchFilter">
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th class="text-center">Nombre de la Unidad</th>
            <th></th>
            </thead>
            <tbody>
            <tr dir-paginate="unit in units | filter : searchFilter | orderBy:'-id' | itemsPerPage:itemsPerPageTable">
              <td class="text-center">{{unit.name}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-success" href="#/unidades/{{unit.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="delete(unit)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!units.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/unidades/crear"><i class="fa fa-plus"></i></a>
        <div class="pull-right">
          <dir-pagination-controls
            direction-links="true"
            boundary-links="true" >
          </dir-pagination-controls>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
