<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-thumbs-up" title="Patrocinadores">
        <input type="text" placeholder="Buscar" class="form-control input-sm" ng-model="$root.searchFilter">
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th>Nombre</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="sponsor in sponsors | filter : searchFilter | orderBy:'-id'">
              <td>{{sponsor.nombre}}</td>
              <td>
                <a class="btn btn-sm btn-success" href="#/patrocinadores/{{sponsor.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="delete(sponsor)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!sponsors.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/patrocinadores/crear"><i class="fa fa-plus"></i></a>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
