<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-male" title="Proyectos">
        <input type="text" placeholder="Buscar" class="form-control input-sm" ng-model="$root.searchFilter">
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th>description</th>
            <th>date_application</th>
            <th>actual_status</th>
            <th>advisor</th>
            <th>application_status</th>
            <th>co_researchers</th>
            <th>contrapartida</th>
            <th>currency</th>
            <th>date_start</th>
            <th>funds</th>
            <th>input</th>
            <th>overhead</th>
            <th>patent</th>
            <th>software</th>
            <th>total_amount</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects | filter : searchFilter">
              <td>{{project.description}}</td>
              <td>{{project.date_application}}</td>
              <td>{{project.actual_status.description}}</td>
              <td>{{project.advisor.id}}</td>
              <td>{{project.application_status.description}}</td>
              <td>{{project.co_researchers}}</td>
              <td>{{project.contrapartida}}</td>
              <td>{{project.currency.id}}</td>
              <td>{{project.date_start}}</td>
              <td>{{project.funds}}</td>
              <td>{{project.input}}</td>
              <td>{{project.overhead}}</td>
              <td>{{project.patent}}</td>
              <td>{{project.software}}</td>
              <td>{{project.total_amount}}</td>
              <td>
                <a class="btn btn-sm btn-success" href="#/proyectos/{{project.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="delete(project.id,$index)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!projects.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/proyectos/crear"><i class="fa fa-plus"></i></a>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
