<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-male"></i>
      </div>
      <div class="title">Proyecto</div>
      <div class="comment">Información del Proyecto</div>
    </rd-widget-body>
    <form class="form-horizontal" ng-submit="addProject(projectForm)" name="projectForm" novalidate>
      <div class="form-group">
        <label for="inputNombre" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Nombre</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" class="form-control" name="inputNombre" id="inputNombre" placeholder="Nombre" ng-model="project.description" ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputNombre.$touched">
            <span class="msg-error" ng-show="projectForm.inputNombre.$error.required">Este campo es requerido.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputFechaInicio" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Fecha de Inicio</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" class="form-control" id="inputFechaInicio" name="inputFechaInicio" placeholder="Fecha de Inicio" ng-model="project.date_start" ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputFechaInicio.$touched">
            <span class="msg-error" ng-show="projectForm.inputFechaInicio.$error.required">La fecha de inicio es requerida</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputInvestigadorPrincipal" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Investigador Principal</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <select
            class="chosen form-control"
            chosen
            ng-required="true"
            name="inputInvestigadorPrincipal"
            id="inputInvestigadorPrincipal"
            data-placeholder="Investigador Principal"
            ng-model="project.researcher"
            ng-options="participant.id as (participant.nombre + ' ' + participant.apellido) for participant in participants">
          </select>
          <div ng-show="projectForm.$submitted || projectForm.inputInvestigadorPrincipal.$touched">
            <span class="msg-error" ng-show="projectForm.inputInvestigadorPrincipal.$error.required">El  investigador principal es requerido</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputFechaFinal" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Fecha del Fin</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" class="form-control" id="inputFechaFinal" name="inputFechaFinal" placeholder="Fecha del Fin" ng-model="project.date_application" ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputFechaFinal.$touched">
            <span class="msg-error" ng-show="projectForm.inputFechaFinal.$error.required">La fecha del fin es requerida</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEstadoAplicacion" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Estado Aplicación</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div id="inputEstadoAplicacion" class="btn-group" data-toggle="buttons" ng-init="1">
            <label class="btn btn-primary">
              <input type="radio" name="inputEstadoAplicacion" id="option1" value="1" ng-model="project.state_application">Aceptada</label>
            <label class="btn btn-primary">
              <input type="radio" name="inputEstadoAplicacion" id="option2" value="2"  ng-model="project.state_application">En revisión</label>
            <label class="btn btn-primary">
              <input type="radio" name="inputEstadoAplicacion" id="option3" value="3"  ng-model="project.state_application">Rechazada</label>
          </div>
        </div>
      </div>

      



      <div class="form-group">
        <label for="inputAsesor" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Asesor</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" class="form-control" name="inputAsesor" id="inputAsesor" placeholder="Asesor" ng-model="project.adviser " ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputAsesor.$touched">
            <span class="msg-error" ng-show="projectForm.inputAsesor.$error.required">Este campo es requerido.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputCounterpart" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Contrapartida</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="number" class="form-control" name="inputCounterpart" id="inputCounterpart" placeholder="Contrapartida" ng-model="project.counterpart " ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputCounterpart.$touched">
            <span class="msg-error" ng-show="projectForm.inputCounterpart.$error.required">Este campo es requerido.</span>
            <span class="msg-error" ng-show="projectForm.inputCounterpart.$error.counterpart">Este campo esta incorrecto.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputInput" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Aporte</label>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" class="form-control" name="inputInput" id="inputInput" placeholder="Aporte" ng-model="project.input" ng-required="true">
          <div ng-show="projectForm.$submitted || projectForm.inputInput.$touched">
            <span class="msg-error" ng-show="projectForm.inputInput.$error.required">Este campo es requerido.</span>
          </div>
        </div>
      </div>

      <ui-submit></ui-submit>
    </form>
  </rd-widget>
</div>


<script ng-if="sponsors.$resolved">
  setTimeout(function(){
    $(".chosen").chosen();
  },50);
</script>
