<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-male" title="Proyectos">
        <input type="text" placeholder="Buscar" class="form-control input-sm" ng-model="$root.searchFilter">
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th class="text-center">Descripción</th>
            <th class="text-center">Investigador</th>
            <th class="text-center">Año Inicio</th>
            <th class="text-center">Año Final</th>
            <th class="text-center">Estado de Aplicación</th>
            <th class="text-center">Estado Actual</th>
            <th class="text-center">Co-Investigadores</th>
            <th class="text-center">Institución Principal</th>
            <th class="text-center">Otras Instituciones</th>
            <th class="text-center">Asesor</th>
            <th class="text-center">Fondo</th>
            <th class="text-center">Monto Total</th>
            <th class="text-center">Contrapartida</th>
            <th class="text-center">Aporte</th>
            <th class="text-center">Overhead</th>
            <th class="text-center">Unidad Ejecutora</th>
            <th class="text-center">Unidad Supervisora</th>
            <th class="text-center">Patente</th>
            <th class="text-center">Software</th>
            <th class="text-center">Otro Producto</th>
            <th class="text-center">Comité de Ética</th>
            <th class="text-center" ng-if="session_role=='SUPER-ADMIN' || session_role=='ADMIN-CF'">Confidencial</th>
            <th></th>
            </thead>
            <tbody>
            <tr
              dir-paginate="project in projects | filter : searchFilter | orderBy:'-id' | itemsPerPage:itemsPerPageTable">
              <td class="text-center">{{project.description}}</td>
              <td class="text-center">{{project.researcher.name}} {{project.researcher.lastname}}</td>
              <td class="text-center">{{project.date_start}}</td>
              <td class="text-center">{{project.date_application}}</td>
              <td class="text-center">{{project.application_status.description}}</td>
              <td class="text-center">{{project.current_status.description}}</td>
              <td class="text-center">
                <div ng-repeat="cor in project.co_researchers">
                  {{cor.nombre}} {{cor.apellido}}{{$last ? '' : ', '}}<br>
                </div>
              </td>
              <td class="text-center">{{project.institution.name}}</td>
              <td>
                <div ng-repeat="i in project.other_institutions">
                  {{i.name}}{{$last ? '' : ', '}}<br>
                </div>
              </td>
              <td class="text-center">{{project.adviser.name}} {{project.adviser.lastname}}</td>
              <td class="text-center">
                <div ng-repeat="f in project.funds">
                  {{f.name}}{{$last ? '' : ', '}}<br>
                </div>
              </td>
              <td class="text-center">{{project.total_amount}}</td>
              <td class="text-center">{{project.counterpart}}</td>
              <td class="text-center">{{project.input}}</td>
              <td class="text-center">{{project.overhead}}</td>
              <td class="text-center">{{project.executing_unit.name}}</td>
              <td class="text-center">{{project.superviser_unit.name}}</td>
              <td class="text-center">{{project.patent | sino}}</td>
              <td class="text-center">{{project.software | sino}}</td>
              <td class="text-center">{{project.other_product}}</td>
              <td class="text-center">{{project.ethical_approved_number}}</td>
              <td class="text-center" ng-if="session_role=='SUPER-ADMIN' || session_role=='ADMIN-CF'">{{project.is_confidential | sino}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-success" href="#/proyectos/{{project.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="delete(project)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!projects.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/proyectos/crear"><i class="fa fa-plus"></i></a>
        <div class="pull-right">
          <dir-pagination-controls
            direction-links="true"
            boundary-links="true">
          </dir-pagination-controls>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
