<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Congresos"></rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Tema</th>
            <th>Lugar</th>
            <th>Patrocinio</th>
            <th>Participantes</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="congress in congresses">
              <td>{{congress.id}}</td>
              <td>{{congress.nombre}}</td>
              <td>{{congress.fecha_congreso}}</td>
              <td>{{congress.ponencia}}</td>
              <td>{{congress.lugar}}</td>
              <td>{{congress.patrocinio.nombre}}</td>
              <td>
                <div ng-repeat="participant in congress.participants">
                  {{participant}}
                </div>
              </td>
              <td>
                <a class="btn btn-sm btn-success" href="#/congresos/{{congress.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger" href="#/congresos/{{congress.id}}"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!hasCongresses">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/congresos/crear"><i class="fa fa-plus"></i></a>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
