<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-user-plus" title="Usuarios">
        <input type="text" placeholder="Buscar" class="form-control input-sm" ng-model="$root.searchFilter">
      </rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th></th>
            </thead>
            <tbody>
            <tr dir-paginate="user in users | filter : searchFilter | orderBy:'-id' | itemsPerPage:itemsPerPageTable">
              <td>{{user.nombre_completo}}</td>
              <td>{{user.correo}}</td>
              <td>{{user.rol.name | roles}}</td>

              <td>
                <a class="btn btn-sm btn-success" href="#/usuarios/{{user.id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-info" href="#/usuarios/clave/{{user.id}}"><i class="fa fa-key"></i></a>
                <a class="btn btn-sm btn-danger" ng-click="delete(user.id,$index)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <div ng-if="!users.length > 0">
            <rd-loading></rd-loading>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <a class="btn btn-sm btn-success" href="#/usuarios/crear"><i class="fa fa-plus"></i></a>
        <div class="pull-right">
          <dir-pagination-controls
            direction-links="true"
            boundary-links="true" >
          </dir-pagination-controls>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
