<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
  <rd-widget>
    <rd-widget-body>
      <div class="widget-icon green pull-left">
        <i class="fa fa-key"></i>
      </div>
      <div class="title">Usuarios</div>
      <div class="comment">Cambio de contraseña</div>
    </rd-widget-body>
    <form class="form-horizontal" ng-submit="save(passForm)" name="passForm" novalidate>
      <ui-input u-name="Clave Actual" u-type="password" ng-model="user.clave_actual"></ui-input>
      <ui-input u-name="Clave" u-type="password" ng-model="user.clave"></ui-input>
      <ui-input u-desc="Confirma tu clave" u-name="Clave" u-type="password" ng-model="user.clave2"></ui-input>
      <ui-submit></ui-submit>
    </form>
  </rd-widget>
</div>
